/* My Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* ------------------------------------------*/
@font-face {
  font-family: Norse-Bold;
  src: url("./fonts/Norse-Bold.otf");
}

:root {
  --odin-color-white: rgb(209, 213, 219);
  --odin-color-bg: rgb(16, 25, 40);
  --odin-color-panel: rgb(31, 41, 55);
  --odin-color-panel-border: rgba(229, 231, 235, 0.05);
  --odin-color-link: rgb(244, 114, 182);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--odin-color-white);
  background-color: var(--odin-color-bg);
}

input {
  background-color: var(--odin-color-white);
  border: 2px solid var(--odin-color-white);
  border-radius: 4px;
  outline: none;
}

input:focus {
  border: 2px solid rgb(49, 152, 255);
}

input[type="password"]:invalid {
  border: 2px solid red;
}

h1 {
  font-family: Norse-Bold, Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
}

.image-sidebar {
  height: 100vh;
}

.sign-up-form {
  flex: 1;
  align-self: center;
  height: fit-content;
}

.panel {
  display: flex;
  gap: 48px;
  padding: 16px 48px 24px 48px;
  background-color: var(--odin-color-panel);
  border: 1.5px solid var(--odin-color-panel-border);
  border-radius: 8px;
}

.panel-right {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.panel-right img {
  width: 180px;
}

.form-row {
  display: flex;
  gap: 48px;
  margin-top: 16px;
}

.form-row div {
  display: flex;
  flex-direction: column;
}

.form-row span {
  position: relative;
}

.form-row span::before {
  font-size: 0.7rem;
  position: absolute;
  content: "* Passwords do not match";
  color: red;
  padding: 3px 0px;
}

.form-row button[type="submit"] {
  margin: 0px 50px;
  padding: 6px 32px;
  border: none;
  border-radius: 8px;
  background-color: var(--odin-color-white);
}

.account-notice {
  margin: 16px 0px 0px 50px;
}

.color-link {
  color: var(--odin-color-link);
}
